<!-- templates/home/receitas.html -->
{% extends 'base.html' %}

{% load static %}

{% block title %}Receitas{% endblock %}

{% block content %}


{% if receita.imagem %}
<img src="{{ receita.imagem.url }}" alt="{{ receita.titulo }}" class="d-block w-100 car-img">
{% endif %}

<div class="container">
    
    <div class="ingredientes">
        <p class="title">{{ receita.titulo }}</p>
        <p class="texto">{{ receita.ingredients|linebreaks }}</p>
    </div>
    <div class="Modo_de_preparo">
        <p class="title">Modo de Preparo</p>
        <p class="texto">{{ receita.preparo|linebreaks }}</p>
    </div>
    
</div>
{% endblock %}