<!-- templates/home/receitas.html -->
{% extends 'base.html' %} 

{% load static %}

{% load custom_filters %}

{% block title %}Receitas{% endblock%}

{% block content %} 

{% if receita.imagem %}
<img
  src="{{ receita.imagem.url }}"
  alt="{{ receita.titulo }}"
  class="d-block w-100 car-img"/>
{% endif %}

<div class="container">
  {% if receita.video_url %}
  <div class="video-container">
    <p class="title">Vídeo de Preparo</p>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe
        class="embed-responsive-item"
        src="{{ receita.video_url|youtube_embed }}"
        allowfullscreen>
      </iframe>
    </div>
  </div>
  {% endif %}
  <div class="ingredientes">
    <p class="title">{{ receita.titulo }}</p>
    <ul class="texto">
      {% for linha in receita.ingredients.splitlines %}
        {% if linha %}
          <li>{{ linha }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>  
  <div class="Modo_de_preparo">
    <p class="title">Modo de Preparo</p>
    <ol class="texto">
      {% for passo in receita.preparo.splitlines %}
        {% if passo %}
          <li>{{ passo }}</li>
        {% endif %}
      {% endfor %}
    </ol>
  </div>  
  
</div>
{% endblock %}
